@use './colors' as c;

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	box-shadow: 1px 1px 10px #000000;

	h1 span {
		color: c.$special-color;
	}

	p {
		text-align-last: left;
	}
}
